{% import "bootstrap/wtf.html" as wtf %}
{% if scrollToAnchor %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.location.hash = '#{{ scrollToAnchor }}';
    });
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">

<!-- Search Engine Optimization by Rank Math - https://s.rankmath.com/home -->
<meta name="description" content="Residêncial Leonídio Ferreira, um empreendimento AV em Alexânia - GO. Veja como a AV entrega qualidade de vida em forma de bairro planejado!"/>
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
<link rel="canonical" href="COLOCAR ENDERECO HTTPS AQUI" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Terrenos em Alexânia - GO - Residêncial Leonídio Ferreira - AV" />
<meta property="og:description" content="Residêncial Leonídio, um empreendimento AV em Alexânia - GO. Veja como a AV entrega qualidade de vida em forma de bairro planejado!" />
<meta property="og:url" content="COLOCAR ENDERECO HTTPS AQUI" />
<meta property="og:image" content="static/img/Logos/logo3.png" />
<meta property="og:site_name" content="AV Empreendimentos" />
<meta property="og:updated_time" content="2021-05-19T05:27:12-03:00" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Terrenos em Alexânia - GO - Residêncial Leonídio Ferreira - AV" />
<meta name="twitter:description" content="Residêncial Leonídio Ferreira, um empreendimento AV em Alexânia - GO. Veja como a AV entrega qualidade de vida em forma de bairro planejado!" />
<!-- /Rank Math WordPress SEO plugin -->




<head>
  <title>Bootstrap Progress Bar Animation Example</title>

    <!--Include Latest compiled and minified CSS -->
    <link href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet" />
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
</head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

   <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <title> Residencial Leonídio Ferreira </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Adicionados para Galeria  -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<!------ ------------------- ---------->

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-left justify-content-center">

      <a class="navbar-brand" rel="home" href="/" title="logo_passaro">
        <img style="max-width:100px; margin-top: 0px; margin-right:0px;"
             src="static/img/Logos/logo_transparente.png">
      </a>
<!--      <h1 class="logo"><a href="index.html">Empreendimentos</a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
<!--       <a href="index.html" class="navbar-left"><img src="static/img/logo_transparente.png" alt="" class="img-fluid"></a>-->


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active home" href="#hero">AV Empreendimentos</a></li>

          <li><a class="nav-link scrollto" href="#caracteristicas">Características</a></li>

          <li><a class="nav-link scrollto " href="#portfolio">Galeria</a></li>
          <li><a class="nav-link scrollto" href="#historia">Nossa História</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>Residencial Leonídio Ferreira</h1>
      <h2>Seu novo lar em Alexânia-GO</h2>
      <div class="d-flex">

        <a href="https://www.youtube.com/watch?v=3oqEAck2znk" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Assista o nosso Video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-house-door-fill"></i>
                  <span data-purecounter-start="0" data-purecounter-end="632" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Lotes Vendidos</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-grid"></i>
                  <span data-purecounter-start="0" data-purecounter-end="86" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Lotes disponíveis</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box relogio">
                  <i class="bi bi-clock"></i>

                  <p class="text-left">Obras<br>em Andamento</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="87" data-purecounter-duration="1" class="purecounter percentage"></span>
                  <p>Vendido</p>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
            <img src="static/img/familia3.jpg" class="img-fluid" alt="">

          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>A melhor qualidade de vida em Alexânia/GO está no Residêncial Leonídio Ferreira</h3>
            <p class="fst-italic">
              Confira nossos terrenos à venda. Um deles pode ser o endereço do seu novo lar.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Terrenos a partir de 250m².</li>
              <li><i class="bx bx-check-double"></i> Bairro Planejado.</li>
              <li><i class="bx bx-check-double"></i> Obras em Andamento.</li>
              <li><i class="bx bx-check-double"></i> 30% Vendido.</li>
            </ul>
            <p>
              O bairro planejado completo integra lotes residenciais e comerciais em uma localização privilegiada, na Rodovia João Beira.
              O loteamento possui infraestrutura completa e área de lazer compartilhada, proporcionando mais comodidade e qualidade de vida para a sua família.


            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Caracteristicas do Loteamento ======= -->
    <section id="caracteristicas" class="about-boxes">
      <div class="container" data-aos="fade-up">


        <div class="row">
          <h2 class="heading-2 center"><strong class="destaque-h2">Características</strong> do Loteamento</h2>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <img src="static/img/entrada.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bi bi-building"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Infraestrutura</a></h5>
                <p class="card-text">Qualidade de vida é ter infraestrutura completa no bairro. O Residencial Leonídio Ferreira conta com 641 lotes, 100% das ruas asfaltadas, paisagismo em todo o loteamento, rede de água, esgoto e energia. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <img src="static/img/quadra.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bi bi-puzzle"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Lazer</a></h5>
                <p class="card-text">Tem lazer para toda a família bem pertinho de casa. Mais de 8 mil m² de áreas de convivência, como praça com espaço fitness para se exercitar, playground para crianças, quadras para quem gosta de esportes e anfiteatro. Além disso, o bairro conta com mais de 29 mil m² de área verde, tornando o seu dia a dia mais próximo da natureza. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <img src="static/img/comercio2.jpg" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="bi bi-cart"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Área Comercial</a></h5>
                <p class="card-text">Terrenos comerciais e industriais de até 2.893m².

Já imaginou ter padaria, supermercado, farmácia, academia e uma série de outros estabelecimentos comerciais bem pertinho de casa?

O Residêncial Leonídio Ferreira foi projetado para ter tudo o que você precisa para trazer mais comodidade para o seu dia a dia. </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Caracteristicas -->



<!--     &lt;!&ndash; ======= SUA CASA PODE SER ASSIM ======= &ndash;&gt;-->

<!--    <section id="sua-casa" class="">-->
<!--      <div class="container" data-aos="fade-up">-->
<!--        <div class="container padrao">-->
<!--          <h2 class="heading-2 center">Sua Casa dos Sonhos <strong class="destaque-h2">Pode ser Assim</strong></h2>-->
<!--          <p class="paragraph-16">A AV preparou essa sugestão de projeto para a sua futura casa. Fique à vontade para se inspirar!<strong class="bold-text-2"></strong><br></p>-->
<!--        <div class="text-block-11 projeto">*Projeto não comercializado pela AV Empreendimentos-->
<!--      </div>-->

<!--        <div class="container suacasa">-->
<!--        <div class="container casa" data-aos="fade-up">-->
<!--          <div class="row planta-casa">-->
<!--                  <div class="col-lg-8 col-md-12 col-sm-12 align-items-center  planta" data-aos="fade-up" data-aos-delay="100">-->

<!--                      <a href="static/img/fachada_1.jpg" class="fancylight popup-btw" data-fancybox-group="gallery01">-->
<!--                        <img id="casa" class="img-fluid w-100 casa-1" src="static/img/fachada02.png" alt="">-->
<!--                      </a>-->

<!--                  </div>-->
<!--                  <div class="col-lg-2 col-md-3 col-sm-6 align-items-center  planta" data-aos="fade-up" data-aos-delay="100">-->
<!--                      <a href="static/img/planta-03.jpg" class="fancylight popup-btw" data-fancybox-group="gallery01">-->
<!--                        <img class="img-fluid w-100  casa-2" src="static/img/planta-03.jpg" alt="">-->
<!--                      </a>-->
<!--                  </div>-->
<!--                  <div class="col-lg-2 col-md-3 col-sm-6  align-items-center  planta" data-aos="fade-up" data-aos-delay="100">-->
<!--                       <a href="static/img/planta-04.jpg" class="fancylight popup-btw"  data-fancybox-group="gallery01">-->
<!--                        <img  class="img-fluid w-100  casa-3" src="static/img/planta-04.jpg" alt="">-->
<!--                      </a>-->
<!--                  </div>-->
<!--          </div>-->
<!--          </div>-->

<!--        </div>-->
<!--    </section> &lt;!&ndash; End SUA CASA PODE SER ASSIM &ndash;&gt;-->

<!-- ======= Clients Section Parceiros ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row clientes align-items-center justify-content-center">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/Logos/logo-av1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/Logos/logo_transparente.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="static/img/Logos/ax-logo.png" class="img-fluid" alt="">
          </div>

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="static/img/clients/client-4.png" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="static/img/clients/client-5.png" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="static/img/clients/client-6.png" class="img-fluid" alt="">-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End Clients Section -->



 <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="fotos-header">
          <h2 class="heading-2 center"><strong class="destaque-h2">Galeria</strong></h2>
        </div>



        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="portfolio-item row">
            <div class="item selfie col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock1.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock1.jpeg" alt="">
               </a>
            </div>
            <div class="item gts col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock2.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock2.jpeg" alt="">
               </a>
            </div>
            <div class="item selfie col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock3.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock3.jpeg" alt="">
               </a>
            </div>
            <div class="item gts col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock4.jpg" alt="">
               </a>
            </div>
            <div class="item gts col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock5.jpg" alt="">
               </a>
            </div>
            <div class="item gts col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock6.jpeg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock6.jpeg" alt="">
               </a>
            </div>
            <div class="item lap col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock7.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock7.jpg" alt="">
               </a>
            </div>
            <div class="item lap col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock8.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock8.jpg" alt="">
               </a>
            </div>
            <div class="item gts col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/mock9.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/mock9.jpg" alt="">
               </a>
            </div>
            <div class="item lap col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/imagem_aerea3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/imagem_aerea3.jpg" alt="">
               </a>
            </div>
            <div class="item gts col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/imagem_aerea4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/imagem_aerea4.jpg" alt="">
               </a>
            </div>
            <div class="item gts col-lg-4 col-md-4 col-6 col-sm">
               <a href="static/img/portfolio/imagem_aerea6.jpg" class="fancylight popup-btn" data-fancybox-group="light">
               <img class="img-fluid" src="static/img/portfolio/imagem_aerea6.jpg" alt="">
               </a>
            </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

<!--  &lt;!&ndash; ======= Andamento das oBRAS COM BARRAS DE PROGESSAO======= &ndash;&gt;-->
<!--    <section id="obras" class="about-boxes" data-aos-id="obras">-->
<!--      <div class="container" data-aos="fade-up" data-aos-id="obras">-->

<!--        <div class="text-center">-->
<!--          <h2 class="heading-2 center"><strong class="destaque-h2">Andamento</strong> da Obra</h2>-->
<!--          </div>-->
<!--    <div class="andamento-obra">-->
<!--    <div class="container-padrao">-->

<!--      <div class="row">-->
<!--        <div id="row" class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">-->
<!--          <div class="text-center image-7"><img src="static/img/icons/drenagem1.png" width="80" alt="Icone" class="image-7">-->
<!--            <div class="text-center progress">-->
<!--              <div class=" progress-bar-striped bg-success  active one"  role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" ></div>-->
<!--            </div>-->
<!--            <div class="text-center valor">Drenagem<br><strong class="bold-text-3">75%</strong></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">-->
<!--          <div class="text-center image-7"><img src="static/img/icons/pavimentacao1.png" width="80" alt="Icone" class="image-7">-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar-striped  bg-success  active two" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center valor">Pavimentação<br><strong class="bold-text-3">50%</strong></div>-->
<!--        </div>-->
<!--        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">-->
<!--          <div class="text-center"><img src="static/img/icons/terraplanagem1.png" width="80" alt="Icone" class="image-7">-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar-striped bg-success  activate three" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center valor">Terraplanagem<br><strong class="bold-text-3">96%</strong></div>-->
<!--        </div>-->
<!--        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">-->
<!--          <div class="text-center"><img src="static/img/icons/esgoto1.png" width="80" alt="Icone" class="image-7">-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar-striped bg-success  activate four" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center valor">Água e Esgoto<br><strong class="bold-text-3">91%</strong></div>-->
<!--        </div>-->
<!--        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">-->
<!--          <div class="text-center"><img src="static/img/icons/eletrica1.png" width="80" alt="Icone" class="image-7">-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar-striped bg-success   activate five" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center valor">Elétrica<br><strong class="bold-text-3">90%</strong></div>-->
<!--        </div>-->
<!--        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">-->
<!--          <div class="text-center"><img src="static/img/icons/edificaveis1.png" width="80" alt="Icone" class="image-7">-->
<!--            <div class="progress">-->
<!--              <div class="progress-bar-striped bg-success   activate six" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="text-center valor">Áreas Edificáveis<br><strong class="bold-text-3">33%</strong></div>-->
<!--        </div>-->
<!--        </div>-->
<!--      <script>-->
<!--        // Set the width to animate the progress bar-->
<!--        // Along with time duration in milliseconds-->


<!--        $(".one").animate({-->
<!--                width: "75%",-->
<!--        }, 3500);-->

<!--         $(".two").animate({-->
<!--                width: "50%",-->
<!--        }, 3500);-->
<!--        $(".three").animate({-->
<!--                width: "96%",-->
<!--        }, 3500);-->
<!--        $(".four").animate({-->
<!--                width: "96%",-->
<!--        }, 3500);-->
<!--        $(".five").animate({-->
<!--                width: "90%",-->
<!--        }, 3500);-->
<!--        $(".six").animate({-->
<!--                width: "33%",-->
<!--        }, 3500);-->
<!--      </script>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Andamento das oBRAS&ndash;&gt;-->

     <!-- ======= Andamento das oBRAS======= -->
    <section id="obras" class="about-boxes" data-aos-id="obras">
      <div class="container" data-aos="fade-up" data-aos-id="obras">

        <div class="text-center">
          <h2 class="heading-2 center"><strong class="destaque-h2">Andamento</strong> da Obra</h2>
          </div>
    <div class="andamento-obra">
    <div class="container-padrao">

      <div class="row">
        <div id="row" class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">
          <div class="text-center image-7"><img src="static/img/icons/drenagem1.png" width="80" alt="Icone" class="image-7">

            <div class="text-center valor"><strong>Drenagem</strong><br>Primeira etapa concluída </div>
          </div>
        </div>
        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">
          <div class="text-center image-7"><img src="static/img/icons/pavimentacao1.png" width="80" alt="Icone" class="image-7">

          <div class="text-center valor"><strong>Drenagem</strong><br>Início das Obras Fevereiro de 2022 </div>
            </div>
        </div>
        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">
          <div class="text-center"><img src="static/img/icons/terraplanagem1.png" width="80" alt="Icone" class="image-7">
            <div class="text-center valor"><strong>Terraplanagem</strong><br><strong class="bold-text-3"></strong></div>

            <div class="text-center valor">Obras<br> 60% Concluídas </div>
          </div>

        </div>
        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">
          <div class="text-center"><img src="static/img/icons/esgoto1.png" width="80" alt="Icone" class="image-7">
            <div class="text-center valor"><strong>Água e Esgoto</strong><br><strong class="bold-text-3"></strong></div>

            <div class="text-center valor">Início das Obras Fevereiro de 2022 </div>
          </div>

        </div>
        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">
          <div class="text-center"><img src="static/img/icons/eletrica1.png" width="80" alt="Icone" class="image-7">
            <div class="text-center valor"><strong>Elétrica</strong><br><strong class="bold-text-3"></strong></div>

            <div class="text-center valor">Obras<br> 100% Concluídas</div>
          </div>

        </div>
        <div  class="col-lg-2 col-md-6 col-sm-2 align-items-stretch">
          <div class="text-center"><img src="static/img/icons/edificaveis1.png" width="80" alt="Icone" class="image-7">
            <div class="text-center valor"><strong>Áreas Edificáveis</strong><br><strong class="bold-text-3"></strong></div>

            <div class="text-center valor">Início das Obras Fevereiro de 2022 </div>
          </div>

        </div>
        </div>
      <script>
        // Set the width to animate the progress bar
        // Along with time duration in milliseconds


        $(".one").animate({
                width: "75%",
        }, 3500);

         $(".two").animate({
                width: "50%",
        }, 3500);
        $(".three").animate({
                width: "96%",
        }, 3500);
        $(".four").animate({
                width: "96%",
        }, 3500);
        $(".five").animate({
                width: "90%",
        }, 3500);
        $(".six").animate({
                width: "33%",
        }, 3500);
      </script>

      </div>
    </section><!-- End Andamento das oBRAS-->




    <!-- ======= Nossa Historia Section ======= -->


    <section id="historia" class="">
      <div class="container" data-aos="fade-up">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <h2 class="heading-2 center">Nossa <strong class="destaque-h2">História</strong></h2>

              <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 vaca-p">

                <p class="historia-p">
                    A AV Empreendimentos é uma composição de empresas unidas para promover o desenvolvimento urbanístico e conceber qualidade de vida através de projetos que façam significado na vida das pessoas que nos circundam.
	Estamos sempre buscando agregar valor e oferecer qualidade e benefícios para nossos clientes.<br><br>

                  <strong>MUT Empreendimentos:</strong><br><br>
	A MUT Empreendimentos é uma empresa com vasta experiência construções específicas e ênfase em qualidade e excelência em construções e reformas de grande porte. Com obras já realizadas em DF e GO, inclui-se desde casas e mansões a prédios comerciais, quanto plantas industriais com até 12.000 m2 de construção.
	A MUT surge como uma confluência da tradição da Fazenda Mutum e seus fundadores e diretores e esses se confundem com o crescimento da Cidade de Alexânia. Nossa tradição e apreço por qualidade são calcadas pelo Sr. Leonídio Ferreira, conhecido na cidade de Alexânia por seu empreendedorismo, pioneirismo, busca por melhorias e inovações no cruzamento e desenvolvimento de melhoramento genético de gado.
                  <br><br>



                  <strong>AX Empreendimentos Imobiliários:</strong><br><br>
	Com  anos de experiência e sucesso adquiridos no mercado financeiro voltado ao varejo comercial e a experiência e sucesso na comercialização de imóveis,  a AX Empreendimentos Imobiliários se tornou a empresa comercializadora do empreendimento Leonídio Ferreira Residencial.
	A associação da experiência com o espírito da modernidade e praticidade, para a construção de equipes competentes e focada em excelentes resultados leva a escolha pela AX como a correta ideal para o empreendimento Leonídio Ferreira Residencial.
	 Uma empresa que atua na intermediação e consultoria imobiliária com forte presença em Goiás, visando encaixar as necessidades dos compradores com produtos imobiliários, e desta forma, aproximando sonhos de realidade.<br><br>

                  Da junção dessas duas empresas nasceu a <strong>AV Empreendimentos</strong>.
                </p>


            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->






    </section><!-- End Nossa Historia -->


    <!-- ======= Testimonials Section ======= -->


    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>LOHANE BORGES</h3>
                <br>
                <br>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  O loteamento tem a tranquilidade esperada para uma residência, porém próximo a cidade, o que facilita o deslocamento. Isso permite aos seus proprietários usufruam da natureza proporcionada pelo loteamento planejado, com a urbanização da cidade de Alexânia, que teve na última década um crescimento considerável no Estado do Goiás.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->



            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>Neide Gomes </h3>
                <br>
                <br>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Eu considero este residencial como uma das melhores alternativas! Comércio bem definido, praças públicas, áreas de convivência e creches, pois esses elementos elencados em minha opinião são essenciais para um bairro com qualidade e comodidade e o nome Leonidio Ferreira nos traz confiança e credibilidade.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">

                <h3>Pedro Peres</h3>
                <br>
                <br>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  O projeto do loteamento permite o planejamento prévio e o oferecimento de um local com condições de moradia ideal, com preço acessível, o que não se consegue no centro da cidade, já saturado de residências, e com preço elevado.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->



          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

     <!-- ======= FICHA TECNICA ======= -->

    </section id="ficha">
    <div class="ficha-tecnica">
    <div class="container" >
      <h2 class="heading-2 center ficha-tec1">Ficha <strong class="destaque-h2">Técnica</strong></h2>
      <div class="container ficha-tec">
        <div class="row ficha">
          <div class="col-lg-6 col-md-6  align-items-center itens" data-aos="fade-up" data-aos-delay="100">
            <ul class="list-5">
              <li class="list-item"><strong>Nome do empreendimento: </strong>Residencial Leonídio Ferreira</li>
              <li class="list-item"><strong>Tipo de empreendimento: </strong>Loteamento aberto</li>
              <li class="list-item"><strong>Incorporadora: </strong>Av Empreendimentos</li>
              <li class="list-item"><strong>Total de lotes: </strong>718</li>
              <li class="list-item"><strong>Metragem dos lotes: </strong>a partir de 250m²</li>
              <li class="list-item"><strong>Área verde: </strong>26.937,10 m²</li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-start  itens" data-aos="fade-up" data-aos-delay="100">
            <ul class="list-5">
              <li class="list-item"><strong>Infraestrutura: </strong>Rede de água, esgoto, energia,  vias 100% asfaltadas, paisagismo</li>
              <li class="list-item"><strong>Área total: </strong>515.000,00 m²</li>
              <li class="list-item"><strong>Área de lazer: </strong>46.646,09 m²</li>
              <li class="list-item"><strong>Itens da área de lazer: </strong>Praça com espaço fitness, playground</li>

              <li class="list-item"><strong>Registro: </strong>Matricula 1851</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- =======  END FICHA TECNICA ======= -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2 class=" "> <strong class="destaque-h2">Contato</strong> </h2>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Localização</h3>

                <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4302.809224930584!2d-48.486252572645974!3d-16.09829626405028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd651c6f9dfecb5e6!2zMTbCsDA1JzUzLjgiUyA0OMKwMjknMTIuMSJX!5e0!3m2!1spt-BR!2sbr!4v1642169603085!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
            </div>

          </div>

        </div>

        <div class="col-lg-6 mt-4 mt-lg-0 php-email" >
          <form method=post class="php-email">
            {{ form.csrf_token }}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "success"}) }}
            <!doctype html>
<title>My Application</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}

  {% endif %}
{% endwith %}

          </form>
        </div>

      </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">



          <div class="col-lg-4 col-md-12 align-items-center ">

            <p class="footer-info text-center">
              <br>
                Av. 59 Reserva Leonídio Ferreira Residencial<br> Alexânia, GO, Brazil <br>


              </p>
          </div>

          <div class="col-lg-4 col-md-12 align-items-center ">

            <p class="footer-info text-center">
              <br>
                <strong>Telefones:</strong>(62) 3336-3596<br>Whatsapp:(62) 99511-5426<br>Alex Cunha:(62) 99472-5881

              </p>
          </div>

          <div class="col-lg-4 col-md-12 align-items-center ">
           <div class="social-links mt-3 text-center">
                <a href="https://twitter.com/LeondioFerreir1" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://m.facebook.com/umanovahistoriaalexania/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/leonidioferreiraresidencial1/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <strong>Email:</strong>contato@avempreendimentosgo.com.br<br>

              </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AV Empreendimentos</span></strong>.
      </div>
      <div class="credits">
        Designed by <a href="">Pedro Peres</a>
      </div>
    </div>
  </footer><!-- End Footer -->




  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>


